@import "variables";

.bar-container {
  .edit-container {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5rem;
    z-index: 3;
    padding-bottom: 5rem;
    @media (min-width: 768px) {
      width: 75%;
      left: 0;
      padding: 3rem 3% 5rem 3%;
      transform: none;
      border-radius: 0 20px 20px 0;
    }
    @media (min-width: 1440px) {
      top: 0;
      left: 6rem;
      width: 50%;
      padding-bottom: 0;
      // padding: 0 15% 0 calc(15% + 6rem);
    }
    .container {
      position: relative;
      overflow: auto;
      width: 100%;
      height: 100%;
      padding: 0 5%;
      @media (min-width: 768px) {
        padding: 0 3.5%;
        border-radius: 0 20px 20px 0;
      }
      @media (min-width: 1440px) {
        margin-top: 0;
      }
      &::-webkit-scrollbar {
        width: 7.5px;
      }
      &::-webkit-scrollbar-track {
        background: var(--bg);
      }
      &::-webkit-scrollbar-track-piece:end {
        margin-bottom: 5rem;
      }
      &::-webkit-scrollbar-track-piece:start {
        margin-top: 4rem;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--borderinput);
        border-radius: 10px;
        height: 5rem;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: var(--lightgray);
      }
      .bordererror {
        border: 2px solid red;
      }
      h2 {
        margin-top: 1rem;
        color: var(--maintext);
        span {
          color: #888eb0;
          &:last-child {
            color: var(--maintext);
            text-transform: uppercase;
          }
        }
      }
      h4 {
        color: #7c5dfa;
        margin: 2rem 0;
        font-size: 0.9rem;
      }
      input {
        font-weight: 700;
        color: var(--maintext);
        width: 100%;
        border-radius: 7px;
        margin: 1rem 0;
        padding: 0 1rem;
        outline: none;
        height: 3rem;
        border: 2px solid var(--borderinput);
        background-color: var(--elbg);
        &:focus {
          border: 2px solid #7c5dfa;
        }
      }

      label {
        display: block;
        font-size: 0.8rem;
        font-weight: 400;
        opacity: 0.9;
        color: var(--pcolor);
      }
      .labelerror {
        color: red;
        &::after {
          content: "Can't be empty";
          position: absolute;
          right: 4%;
        }
      }
      .form {
        .Address {
          display: flex;
          flex-direction: column;
          div {
            .labelerror {
              &::after {
                right: 0;
              }
            }
            display: grid;
            margin: 0.5rem 0;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 50%);
            @media (min-width: 768px) {
              grid-template-columns: repeat(3, 33.3%);
              grid-template-rows: 100%;
            }
            div {
              display: flex;
              flex-direction: column;
              position: relative;
              &:first-child {
                margin-right: 1rem;
                @media (min-width: 768px) {
                  margin-right: 12%;
                }
              }
              &:nth-child(2) {
                @media (min-width: 768px) {
                  margin-right: 12%;
                }
              }
            }
            .country {
              grid-column: 1/3;
              @media (min-width: 768px) {
                grid-column: 3/4;
              }
            }
          }
        }
        .form3 {
          .labelerror {
            &::after {
              right: 0;
            }
          }
          div {
            position: relative;
            .terms {
              li {
                width: 100%;
                padding: 0 1rem;
                margin: 1rem 0;
                height: 3rem;
                border: 2px solid var(--borderinput);
                background-color: var(--elbg);
                border-radius: 7px;
                color: var(--maintext);
                font-weight: 700;
                font-size: 0.8rem;
                cursor: pointer;
                position: relative;
                list-style: none;
                display: flex;
                align-items: center;
                .arrow2 {
                  position: absolute;
                  right: 0.8rem;
                  top: 40%;
                  display: inline-block;
                  width: 12px;
                  height: 12px;
                  background-size: contain;
                  background-image: url(../assets/icon-arrow-down.svg);
                  background-position: center center;
                  background-repeat: no-repeat;
                  transition: transform 0.3s ease;
                }
                .hiddenmenu2 {
                  opacity: 0;
                  transition: opacity 0.3s ease;
                  pointer-events: none;
                  position: absolute;
                  width: 100%;
                  background: var(--elbg);
                  left: 0;
                  top: 3.5rem;
                  border-radius: 10px;
                  z-index: 3;
                  -webkit-box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.4);
                  -moz-box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.4);
                  box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.4);
                  li {
                    margin: 0;
                    border-bottom: 1px solid var(--bg);
                    transition: color 0.3s ease;
                    border-radius: 0%;
                    &:hover {
                      color: #7c5dfa;
                    }
                    &:first-child {
                      border-radius: 10px 10px 0 0;
                    }
                    &:last-child {
                      border-radius: 0 0 10px 10px;
                    }
                  }
                }
              }
            }
            .bordererror {
              border: 2px solid red !important;
            }
          }
          @media (min-width: 768px) {
            display: grid;
            margin: 1.5rem 0 0 0;
            grid-template-columns: repeat(3, 50%);
            grid-template-rows: repeat(2, 50%);
            div {
              &:first-child {
                grid-column: 1/2;
                margin-right: 7%;
              }
              &:nth-child(2) {
                grid-column: 2/3;
              }
              &:last-child {
                grid-row: 2/3;
                grid-column: 1/3;
              }
            }
          }
        }
      }
      .item-list {
        .labelerror {
          color: red;
          &::after {
            content: "Can't be empty";
            position: absolute;
            right: 0;
          }
        }
        h3 {
          color: #777f98;
          margin: 3.5rem 0 2rem 0;
          @media (min-width: 768px) {
            margin: 1rem 0;
          }
        }
        .item {
          input {
            margin: calc(1rem - 2px) 0;
            cursor: pointer;
          }
          border-radius: 10px;
          cursor: pointer;
          border: 2px solid var(--bg);
          transition: border 0.3s ease;
          &:hover {
            border: 2px solid var(--elbg);
          }
          .bordererror {
            border: 2px solid red;
          }
          @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 37.5% 60%;
            grid-column-gap: 2.5%;
          }
          @media (min-width: 1360px) {
            grid-template-columns: 45% 52%;
            // grid-column-gap: 1rem;
          }
          div {
            display: flex;
            align-items: center;
            margin-top: 0.5rem;
            position: relative;
            @media (min-width: 768px) {
              display: grid;
              grid-template-columns: 20% 30% 35% 5%;
              margin-top: 0;
              grid-column-gap: 2.5%;
            }
            @media (min-width: 1360px) {
              grid-template-columns: 15% 30% 30% 10%;
              grid-column-gap: 5%;
            }
            .inputitem {
              cursor: auto;
            }
            &:first-child {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }

            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              .labelerror {
                &::after {
                  right: 10%;
                  @media (min-width: 768px) {
                    content: "";
                  }
                }
              }
              &:first-child {
                width: 50%;
                @media (min-width: 768px) {
                  width: 100%;
                }
              }
              &:nth-child(2) {
                .labelerror {
                  &::after {
                    content: "Empty";
                    @media (min-width: 1360px) {
                      content: "Can't be empty";
                      right: 0;
                    }
                  }
                }
              }
              input {
                width: 90%;
                @media (min-width: 769px) {
                  width: 100%;
                }
              }
              .total {
                border: none;
                background: none;
                color: var(--pcolor);
              }
              label {
                margin-left: 0.2rem;
              }
            }
            button {
              cursor: pointer;
              margin-top: 1rem;
              border: none;
              width: 100px;
              height: 50px;
              background: none;
              background-image: url(../assets/icon-delete.svg);
              background-repeat: no-repeat;
              background-position: center center;
              transition: background-size 0.3s ease, opacity 0.3s ease;
              opacity: 0.5;
              &:hover {
                background-size: 1.3rem;
                opacity: 1;
              }
              @media (min-width: 768px) {
                width: 40px;
                background-size: 1rem;
                margin-top: 0;
              }
            }
          }
        }
        .form {
          cursor: auto;
          &:hover {
            border: 2px solid var(--bg);
          }
        }
      }
      .add-item {
        cursor: pointer;
        text-align: center;
        font-size: 0.9rem;
        color: #7e88c3;
        background: var(--additembg);
        font-weight: bold;
        // margin: 3rem 0 0 0;
        border: none;
        width: 100%;
        height: 3rem;
        border-radius: 25px;
        transition: background 0.3s ease;
        &:hover {
          background: #dfe3fa;
          @media (min-width: 768px) {
            color: var(--darkblue);
          }
        }
        @media (min-width: 768px) {
          margin: 0.5rem 0 8rem 0;
          color: var(--pcolor);
          height: 3.25rem;
        }
        @media (min-width: 1440px) {
          margin: 0.5rem 0 0 0;
        }
      }
      .errors {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        @media (min-width: 768px) {
          justify-content: space-between;
          flex-direction: row;
          left: 0;
          bottom: 14vh;
        }
        @media (min-width: 1440px) {
          bottom: 0;
        }
        .formerror,
        .formerror2 {
          color: red;
          font-weight: 500;
          padding: 1rem 0;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }
      .errorform {
        color: red;
        font-weight: 500;
        padding: 1rem 0;
        display: none;
      }
      .edit-footer {
        background-color: var(--elbg);
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: flex-end;
        padding: 0 5%;
        -webkit-box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.1);
        @media (min-width: 768px) {
          border-radius: 0 0 20px 0;
          padding: 0 8.5%;
          position: fixed;
          bottom: 0;
          left: 0;
          width: 75%;
        }
        @media (min-width: 1440px) {
          border-radius: 0 0 20px 0;
          box-shadow: none;
          background: none;
          position: relative;
          padding: 0;
          width: 100%;
        }
        .draft {
          background-color: var(--btndraft);
          margin-right: 0.5rem;
          &:hover {
            background: #dfe3fa;
            color: #9277ff;
          }
        }
        button {
          cursor: pointer;
          font-size: 0.75rem;
          height: 3rem;
          width: 8rem;
          border-radius: 25px;
          border: none;
          background: #7c5dfa;
          color: white;
          font-weight: bold;
          transition: background 0.3s ease;
          &:hover {
            background: #9277ff;
          }
          &:first-child {
            width: 6rem;
            margin-right: 0.5rem;
            background-color: var(--btneditbg);
            color: var(--btnedit);
            transition: background 0.3s ease;
            &:hover {
              background: #dfe3fa;
              color: #9277ff;
            }
            @media (min-width: 768px) {
              margin-right: auto;
            }
          }
        }
      }
    }
  }
}
.transparent-background-form {
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
